/* navbar */
/*.navbar-default{
  background-color: aqua;
}*/

/* highlighted link on navbar */

/*.navbar-default .navbar-nav>.active>a {
  background-color: lime;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: yellow;
}*/

section {
  padding: 20px;
}

/* carousel */

#carousel-example-generic img {
  width: 100%;
  max-width: 100%;
}


